body {
  --twitter--color: #50b7f5;
  --twitter--background: #e6ecf0;
}
.app {
  display: flex;
  /*画面いっぱいに表示*/
  height: 100vh;
  /*Max1300pxに収める*/
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}
